{% extends 'inventory/base.html' %}

{% block body %}

<div class="col-sm-10">
    <h3 class="text-white my-5">Contact page</h3>
    <form method="POST"> {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            <input type="text" class="form-control" id="id_name" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            <input type="email" class="form-control" id="id_email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="id_address" class="form-label">Address</label>
            <input type="text" class="form-control" id="id_address" aria-describedby="addressHelp">
        </div>
        <div class="mb-3">
            <label for="id_message" class="form-label">Message</label>
            <textarea class="form-control" id="id_message" rows="3"></textarea>
          </div>
          
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock body %}
